.curved-loop-jacket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: visible;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  height: auto;
  overflow: visible;
  display: block;
  fill: #1d1e1e;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
